body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    font-family: 'Oswald', sans-serif;
    background-image: url("images/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: none;
    color: white;
}

.heading{
    margin-top: 30px;
    background-color:rgba(14, 14, 14, 0.6);
    width: 60%;
    text-align: center;
    padding: 3% 0% 3% 0%;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.form-details{
    padding-top: 1%;
    background-color: rgba(20, 20, 20, 0.75);
    width: 60%;
    margin-bottom: 2%;
    padding-bottom: 1%;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.form-details label input{
    height: 25px;
    font-size: 17px;
    border: none;
}
.dropdown{
    height: 20px;
    font-size: 17px;
    font-weight: 700;
    border: none;
}
.input{
    outline: none;
    width: 75%;
    font-size: 20px;
}
.button{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 18px;
    font-weight: 800;
    border: 2px solid rgba(0,0,0,0.5);
}
.button:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.7);
    transition: 0.4s;
    border-color: black;
}